.content-table {
    border-collapse: collapse;
    /* display: block; */
    width: 80%;
    margin: 2% 10% 0;
    /* border-radius: 5px 5px 0 0; */
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #222222;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table thead tr th {
    background-color: #222222;
    color: #ffffff;
    text-align: left;
    font-weight: normal;
    font-size: 16px;
}

.content-table th, .content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
    font-weight: bold;
    color: #222222;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #222222;
}

.content-table thead tr th a {
    font-size: 0;
    text-decoration: none;
}

.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border: 7px solid transparent;
}

.top {
    border-top-color: orangered;
    border-bottom: 0;
}

.bottom {
    border-bottom-color: yellowgreen;
    border-top: 0;
}